.header {
  padding: 40px 0 20px;
  background: #f0f0f0;
}

.header__form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__input {
  padding: 7px 12px;
  color: #242424;
  border-radius: 5px;
}

.header__button {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #000;
  background: #fece00;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  padding: 5px 12px;
  cursor: pointer;
  max-width: 135px;
}

.header__button:hover {
  color: #fff;
  background: #00cd52;
  -webkit-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s;
}
