@import "main.scss";
@import "null.scss";

//fonts-----------------
@font-face {
  font-family: "MuseoSansCyrl";
  src: local("MuseoSansCyrl"), url("./MuseoSansCyrl-300.ttf") format("truetype"),
    url("./fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"),
    url("./fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* 500 */

@font-face {
  font-family: "MuseoSansCyrl";
  src: local("MuseoSansCyrl"),
    url("./fonts/MuseoSansCyrl-500.ttf") format("truetype"),
    url("./fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"),
    url("./fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* 700 */

@font-face {
  font-family: "MuseoSansCyrl";
  src: local("MuseoSansCyrl"),
    url("../fonts/MuseoSansCyrl-700.ttf") format("truetype"),
    url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
body {
  line-height: 1;
  font-family: "MuseoSansCyrl";
}
//.wrapper {
//  min-height: 100%;
//  display: flex;
//  flex-direction: column;
//  overflow: hidden;
//}
/* ------------------------------ */
.main {
  flex-grow: 1;
  font-family: "MuseoSansCyrl";
}

[class*="__container"] {
  max-width: 1310px;
  margin: 0px auto;
  padding: 0px 15px;
}
//------------
@media (max-width: 1050px) {
}
/* Условные планшеты */
@media (max-width: 991.98px) {
}
/* Условные мобилки */
@media (max-width: 767.98px) {
}
